- id: update_zigbeemap
  alias: Zigbee Map aktualisieren
  trigger:
  - at: 08:00
    platform: time
  - entity_id: input_boolean.zigbee_permit_join
    from: 'on'
    platform: state
    to: 'off'
  action:
  - service: zigbee2mqtt_networkmap.update
- id: enable_zigbee_join
  alias: Enable Zigbee joining
  trigger:
    platform: state
    entity_id: input_boolean.zigbee_permit_join
    to: 'on'
  action:
  - service: mqtt.publish
    data:
      topic: zigbee2mqtt/bridge/config/permit_join
      payload: 'true'
  - service: timer.start
    data:
      entity_id: timer.zigbee_permit_join
- id: disable_zigbee_join
  alias: Disable Zigbee joining
  trigger:
  - entity_id: input_boolean.zigbee_permit_join
    platform: state
    to: 'off'
  action:
  - data:
      payload: 'false'
      topic: zigbee2mqtt/bridge/config/permit_join
    service: mqtt.publish
  - data:
      entity_id: timer.zigbee_permit_join
    service: timer.cancel
- id: disable_zigbee_join_timer
  alias: Disable Zigbee joining by timer
  trigger:
  - platform: event
    event_type: timer.finished
    event_data:
      entity_id: timer.zigbee_permit_join
  action:
  - service: mqtt.publish
    data:
      topic: zigbee2mqtt/bridge/config/permit_join
      payload: 'false'
  - service: input_boolean.turn_off
    data:
      entity_id: input_boolean.zigbee_permit_join
- id: '1567199368534'
  alias: HA recovers after power outage
  trigger:
  - event: start
    platform: homeassistant
  condition:
  - condition: state
    entity_id: input_boolean.maintenance_mode
    state: 'off'
  action:
  - delay: 00:00:30
  - entity_id: all
    service: light.turn_off
  - data:
      message: Home Assistant started after unexpected shutdown.
    service: notify.mobile_app_sm_g973f
  mode: single
- id: '1567201768135'
  alias: Maintenance mode
  trigger:
  - event: shutdown
    platform: homeassistant
  action:
  - entity_id: input_boolean.maintenance_mode
    service: input_boolean.turn_on
  mode: single
- id: '1599634948544'
  alias: Badfenster open - Heating off
  description: ''
  trigger:
  - type: opened
    platform: device
    device_id: a01e02250de411ebb0a865694a1b9812
    entity_id: binary_sensor.badfenster_contact
    domain: binary_sensor
    for:
      hours: 0
      minutes: 0
      seconds: 10
  condition: []
  action:
  - device_id: 75ecf58eff1311ea92916311568974e5
    domain: climate
    entity_id: climate.badezimmer
    type: set_hvac_mode
    hvac_mode: 'off'
  mode: single
- id: '1599634991023'
  alias: Badfenster close - Heating auto
  description: ''
  trigger:
  - type: not_opened
    platform: device
    device_id: a01e02250de411ebb0a865694a1b9812
    entity_id: binary_sensor.badfenster_contact
    domain: binary_sensor
    for:
      hours: 0
      minutes: 0
      seconds: 5
  condition: []
  action:
  - device_id: 75ecf58eff1311ea92916311568974e5
    domain: climate
    entity_id: climate.badezimmer
    type: set_hvac_mode
    hvac_mode: auto
  mode: single
- id: '1599635146310'
  alias: B端rofenster open - Heating off
  description: ''
  trigger:
  - type: opened
    platform: device
    device_id: 793f29c60de311eb80fa89858ee33fb7
    entity_id: binary_sensor.buerofenster_1_contact
    domain: binary_sensor
    for:
      hours: 0
      minutes: 0
      seconds: 5
  - type: opened
    platform: device
    device_id: 9c68eb600de311ebb23e1bbe6650a960
    entity_id: binary_sensor.buerofenster_2_contact
    domain: binary_sensor
    for:
      hours: 0
      minutes: 0
      seconds: 5
  condition: []
  action:
  - device_id: 75efaff7ff1311ea8551a323b185faaa
    domain: climate
    entity_id: climate.buro
    type: set_hvac_mode
    hvac_mode: 'off'
  mode: single
- id: '1599635170437'
  alias: B端rofenster close - Heating auto
  description: ''
  trigger:
  - type: not_opened
    platform: device
    device_id: 793f29c60de311eb80fa89858ee33fb7
    entity_id: binary_sensor.buerofenster_1_contact
    domain: binary_sensor
    for:
      hours: 0
      minutes: 0
      seconds: 10
  - type: not_opened
    platform: device
    device_id: 9c68eb600de311ebb23e1bbe6650a960
    entity_id: binary_sensor.buerofenster_2_contact
    domain: binary_sensor
    for:
      hours: 0
      minutes: 0
      seconds: 10
  condition: []
  action:
  - device_id: 75efaff7ff1311ea8551a323b185faaa
    domain: climate
    entity_id: climate.buro
    type: set_hvac_mode
    hvac_mode: auto
  mode: single
- id: '1600528478979'
  alias: Schlafzimmerfenster close - Heating auto
  description: ''
  trigger:
  - type: not_opened
    platform: device
    device_id: 268faaa50de411eb813a8d311a1e6c35
    entity_id: binary_sensor.schlafzimmerfenster_contact
    domain: binary_sensor
    for:
      hours: 0
      minutes: 0
      seconds: 5
  condition: []
  action:
  - device_id: 75e9d2a8ff1311ea949f3518634ebbf7
    domain: climate
    entity_id: climate.schlafzimmer
    type: set_hvac_mode
    hvac_mode: auto
  mode: single
- id: '1600861093400'
  alias: Wohnzimmert端r close - Heating auto
  description: ''
  trigger:
  - type: not_opened
    platform: device
    device_id: 45a2b8150de411eb8767af5af9eb4d10
    entity_id: binary_sensor.schlafzimmerfenster_contact
    domain: binary_sensor
    for:
      hours: 0
      minutes: 0
      seconds: 5
  condition: []
  action:
  - device_id: 75e7ef50ff1311eaabe0a71285cb5261
    domain: climate
    entity_id: climate.wohnzimmer
    type: set_hvac_mode
    hvac_mode: auto
  mode: single
- id: '1600861127097'
  alias: Wohnzimmert端r open - Heating off
  description: ''
  trigger:
  - type: opened
    platform: device
    device_id: 45a2b8150de411eb8767af5af9eb4d10
    entity_id: binary_sensor.wohnzimmertuer_contact
    domain: binary_sensor
    for:
      hours: 0
      minutes: 0
      seconds: 10
  condition: []
  action:
  - device_id: 75e7ef50ff1311eaabe0a71285cb5261
    domain: climate
    entity_id: climate.wohnzimmer
    type: set_hvac_mode
    hvac_mode: 'off'
  mode: single
- id: '1602657800242'
  alias: Schlafzimmerfenster open - Heating off
  description: ''
  trigger:
  - type: opened
    platform: device
    device_id: 268faaa50de411eb813a8d311a1e6c35
    entity_id: binary_sensor.wohnzimmertuer_contact
    domain: binary_sensor
    for:
      hours: 0
      minutes: 0
      seconds: 10
  condition: []
  action:
  - device_id: 75e9d2a8ff1311ea949f3518634ebbf7
    domain: climate
    entity_id: climate.schlafzimmer
    type: set_hvac_mode
    hvac_mode: 'off'
  mode: single
- id: '1603014173582'
  alias: Bad Switch - on
  description: ''
  trigger:
  - platform: device
    domain: mqtt
    device_id: 04bb48280e0911eb856a253ff95a911b
    type: action
    subtype: button_1_single
    discovery_id: 0x04cf8cdf3c77d1a7 action_button_1_single
  condition: []
  action:
  - type: turn_on
    device_id: 4501879d0b6a11ebaaf691dba8e5aeb7
    entity_id: light.panel_1
    domain: light
  mode: single
- id: '1603014181870'
  alias: Bad Switch - off
  description: ''
  trigger:
  - platform: device
    domain: mqtt
    device_id: 04bb48280e0911eb856a253ff95a911b
    type: action
    subtype: button_2_single
    discovery_id: 0x04cf8cdf3c77d1a7 action_button_2_single
  condition: []
  action:
  - type: turn_off
    device_id: 4501879d0b6a11ebaaf691dba8e5aeb7
    entity_id: light.panel_1
    domain: light
  mode: single
